<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/organizations">Organizations</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
    <main>
        <h1>Home</h1>
        <h2>Welcome to the CSE 340 Service Network!</h2>
        <p>Our mission is to promote service across the world by connecting volunteers with service opportunities in their community.</p>

<img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
    </main>
</body>
</html>